.header{
    width: 100%;
    background-image: url('../images/usecase.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: 100% 100%;

    position: relative;

}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 60%;
    border: 1px solid #ddd;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 10rem;

}
  th, td {
    text-align: left;
    padding: 16px;


  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
 