body, html {
  height: 100%;
  margin: 0;
}

.bg {
    width: 100%;
	background-image: url('../images/persona2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	background-size: 100% 100%;

    position: relative;
   



}


* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 45%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    text-align: justify;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .bg p{
    margin-top: -15px;   
font-weight: 500;
text-align: justify;
color: blanchedalmond;

}
.bg li{
    font-weight: 500;
    text-align: justify;
    color: blanchedalmond;


}
.bg h1 {
    margin-top: 20rem;
    text-align: center;
    font-size: 30px;
    color: blanchedalmond;

}

.bg h2{
    color: blanchedalmond;

}
