*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    }
    
    header{
     width: 100%;
     height: 100vh;
     background-image: url('../images/User Testing & validation.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
    
    }
    
    .mainheader{
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
    .mainheader .logo img{
     width: 250px; height: 70px;
     padding-left: 60px;
    }
    
    .mainheader nav{
     width: 450px;
     display: flex;
     justify-content: space-around;
     align-items: center;
    }
    
    .mainheader nav a{
     text-decoration: none;
     color: black;
     text-transform: uppercase;
    }
    
    .menubtn{
     margin-right: 60px;
    }
    .mainheader button{
     padding: 10px 45px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     border: none;
     background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
     border-radius: 10px;
    }
    
    
    main{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
    main.right-sec{
     padding-right: 70px;
     widows: 50px;
 
     margin-top: -20em;
 
 
    }
    
    main .left-sec{
     padding-left: 100px;
    }
    
    .left-sec h2{
     font-size: 30px;
     text-transform: capitalize;
     font-weight: bolder;
     color: #22a1a1;
     text-shadow: 3px 2px gainsboro;
     word-spacing: 5px;
 text-align: center;
 
 
    }
    
    .left-sec h1{
     font-size: 55px;
     text-transform: capitalize;
     font-weight: 700;
     margin: 15px 0;
    }
    
    .left-sec p{
      font-size: 20px;
     font-weight: bolder;
     color: black;
     text-align: justify;
     margin-top: 10px;
    }

    p{
        text-align: justify;
        width: 30rem;  
        padding-top: 1.5rem;
    }
   
    
    .left-sec button{
     padding: 15px 45px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     border: none;
     background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
     border-radius: 10px;
    }
   